<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<div class="jumbotron">
				<p class="text-center">Todo App</p>
			</div>
			<div class="input-group">
				<input type="text" class="form-control" #itemTitle>
				<div class="input-group-addon">
					<i class="hover-cursor fa fa-plus-circle" (click)="onAddTitle(itemTitle)"></i>
				</div>
			</div><br>
			<ul class="list-group">
				<li class="list-group-item" *ngFor=" let item of todoListArray">
					<span class="hover-cursor" 
						[class.text-success]="item.ischecked" 
						(click)="alterCheck(item.$key,item.ischecked)">
						<i class="fa fa-lg" [ngClass]="item.ischecked?
						'fa fa-check-circle-o':'fa fa-circle-thin'"></i>
				    </span>
					{{item.title}}
					<span class="hover-cursor text-danger pull-right" 
						(click)="onDelete(item.$key)">
						<i class="fa fa-trash-o fa-lg"></i>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>