<div class="container">
	<div class="col-xs-5 col-md-offset-2">
		<h3>LogIn</h3> 
		<form (ngSubmit)="login(f) " #f="ngForm" >
			<div class="form-group">
				<label for="username">Email</label>
				<input type="email" name="email" placeholder="Enter Your Email" 
				class="form-control" id="email" ngModel required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Enter The password" 
				class="form-control" id="password" ngModel required>
			</div>
     		<button  class="btn btn-primary">Login</button>
     		<a routerLink="/register">register</a>
		</form>
	</div>
	<div *ngFor="let user of userData" (click)="deleteUser(user.$key)">{{ user.email }}</div>
</div>